@charset "UTF-8";

body {
  background: white;
  padding: 80px 0 0 0;
}

body, input, button {
  font-family:  'Amaranth', sans-serif;
}

.noFill {
  fill: none;
}

header {
  width: 100%;
  height: 90px;

  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #68319F;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

header input {
  width: 98%;
  height: 50px;
  float: left;
  color: #FFF;
  font-size: 15px;
  font-weight: 400;
  text-indent: 8px;
  padding: 0 0 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

}

header input::-webkit-input-placeholder {
  opacity: 0.3s;
  color: #d3d3d3;
}

header input:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: 10;
  color : #4d004d;

  position:absolute;
  top:15px;
  right:2%;
  z-index:2;

  border-radius: 35px;
  border: 2px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.container {
  width: 100%;
  float: left;

}

ul.todo {
  width: 98%;
  font-size: 25px;

}

ul.todo li {
  margin: 0.9em 0;
  text-indent: 10px;
  font-weight: 400;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  position: relative;
  padding: 0 100px 0 0;
}

ul.todo li .buttons {
  width: 100px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

ul.todo li .buttons button {
  width: 50px;
  height: 38px;
  float: left;
  bottom: 10%;
  background: none;
  position: relative;
  background-size:cover;
  border: 0px;
  background-size: 10%; /* To fill the dimensions of container (button), or */
  box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

ul.todo li .buttons button:last-of-type:before {
  content: '';
  width: 1.5px;
  height: 30px;
  background: #4d004d;
  position: absolute;
  top: 20%;
  left: 0;
}
.img{
  width: 30px;
  height: 30px;

}
